.chart {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: rgb(150, 150, 150);

  .title {
    margin-bottom: 20px;
    position: relative;
    margin-left: 100p;
  }


  .chartGrid {
    stroke: rgb(151, 242, 168);
  }
}
.recharts-responsive-container{
  width: 50% !important;
  height:100% !important;
}
